*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  .container{
    width: 1200px;
    margin: auto;
    padding: 0 20px;
  
  }

  .back-btn {
    margin: 20px 0;
    font-family:'Times New Roman', Times, serif;
    color: #8b8a8a;
    padding: 5px;
    background-color: white;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .empty-page {
    margin: 10% 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: #aaa9a9;
  }

  .sell-product{
    color: #33af33;
  }